{% extends 'base.html' %}
{% block content %}
{#{% if user.is_authenticated %}#}
{#<h2><a href="{% url 'index' today %}">TODAY</a> </h2>#}
{##}
{#{% endif %}#}
<p class="today">{{ day.date }}</p>

<a class="btn btn-default btn-success" href="{% url 'index' prev_day %}" role="button"><------</a>
<a class="btn btn-default btn-success" href="{% url 'index' next_day %}" role="button">------></a>

<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form_date }}
    </table>
    <input type="submit" name="btndate" value="Перейти">
</form>
<br>

<ul class="list-group">
  <li class="list-group-item"><b>Challenge:</b>{% for main in challenge %}
                                                {{ main.name }}<br>
                                                {% endfor %}
    <form action="" method="post">
        {% csrf_token %}
            <table>
                {{ form_challenge }}
            </table>
            <input type="submit" name="btn-challenge" value="Добавить">
    </form>
  </li>

  <li class="list-group-item"><b>Frogs:</b> <ul>{% for frog in frogs %}
                                            <li>{{ frog.name }}</li>
                                            {% endfor %}</ul>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">
       <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </button>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form_frog }}
    </table>
    <input type="submit" name="btn-frog" value="Добавить">
</form>

        </div>
      </div>
    </div>

  </li>
  <li class="list-group-item"><b>Steak</b>: {% for piece in steak %}
                                        {{ piece.name }}
                                        {% endfor %}
      <form action="" method="post">
        {% csrf_token %}
            <table>
                {{ form_steak }}
            </table>
            <input type="submit" name="btn-steak" value="Добавить">
    </form>
  </li>
</ul>






<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form_task }}
    </table>
    <input type="submit" name="btntask" value="Добавить">
</form>

<h1>url_day: {{ url_day }}</h1>



Your tasks!
<h3>{% for t in tasks %}
    <ul>
        <li>{{ t }}, {{ t.day }} ({{ t.task_type }})</li>
    </ul>
{% endfor %}
</h3>

<table class="table table-bordered">
  <tr>
    <th></th>
    <th>Жесткие задачи</th>
    <th>Гибкие задачи</th>
  </tr>
  <tr>
    <td>07.00</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>08.00</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>09.00</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>10.00</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>11.00</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>12.00</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>13.00</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>14.00</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>15.00</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>16.00</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>17.00</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>18.00</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>19.00</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>20.00</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>21.00</td>
    <td></td>
    <td></td>
  </tr>
</table>

  <li class="list-group-item"><b>Промежуточные радости:</b> <ul>{% for j in joy %}
                                                            <li>{{ j.name }}</li>
                                                            {% endfor %}</ul>
    <form action="" method="post">
        {% csrf_token %}
            <table>
                {{ form_joy }}
            </table>
            <input type="submit" name="btn-joy" value="Добавить">
    </form>


  <li class="list-group-item"><b>Мемуарник:</b> <ul>{% for m in memory %}
                                                            <li>{{ m.name }}</li>
                                                            {% endfor %}</ul>
    <form action="" method="post">
        {% csrf_token %}
            <table>
                {{ form_memory }}
            </table>
            <input type="submit" name="btn-memory" value="Добавить">
    </form>

{% endblock %}


